*{
    font-family: 'Plantin MT Pro', sans-serif;  
   
}

@font-face {
    font-family: Platin MT Pro;
    src: url('/platin-mt-pro')  format('truetype');
  }
body{
   margin: 0;
}

#parent{
    padding: 40px 100px 0px 100px;
}
header{
 padding: 40px 100px 0px 100px;
font-size: 0.9em;
   
}

footer{
    font-size: 0.8em;
    position: sticky;
    bottom: 0;

}

img {
    max-width: 200px;
    z-index: -2;
    position: relative;
}

figure{
    margin: 0;
}

.container{
    display: flex;
    width: 75%;
    height: 88vh;
    overflow: scroll;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-header{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.grid-item{
    text-align: left;
    padding: 10px;
}

ol{
    padding:unset;
    margin: unset;
}
a{
    color: black;
}
li{
    list-style: none;
    text-indent: -8px;
}

svg {
  
   z-index: -1;
   position: fixed;
}

#body{
    padding: 100px;
}

@media only screen and (max-width: 600px) {
    .grid-header {
      grid-template-columns: auto;
    }
    .grid{
        grid-template-columns: auto;
    }
    #parent{
        padding: 5px 10px 0px 10px;
    }
    header{
        padding: 5px 10px 0px 10px;
       font-size: 0.9em;
          
       }

       img{
        max-width: 100% !important;
       }
       svg{
        display: none;
       }
  }

