<header id="side">
<div class="grid-header">
    <div class="grid-item">
        <ol>
         <li>Bulletin 1 <i>Sideways</i> by Laura Martens on 1.11.2023</li>
          <li>Bulletin 2 <i>Image is text and the otherway around</i> by João Pedro Nogueira on 2.11.2023</li>
        </ol>
    </div>
    <div class="grid-item">
        <ol>
            <li>Additional bulletin in support for Palestine on 3.11.2023</li>
            <li>Bulletin 3 <i>Creative stuttering</i> by Fatima-Ezzahra El Khammas on 6.112023</li>
        </ol>
    </div>
    <div class="grid-item">
        <ol>
        <li>Bulletin 4 <i>You wouldn’t steal a car, torrent a film or reproduce a book</i> by Linnea Lindgren on 7.11.2023</li>
        </ol>
    </div>
    <div class="grid-item">
        <ol>
           <li>Bulletin 5 <i>(Untitled); Parts _, _, _</i> by Hanafi Gazali on 8.11.2023</li>
            <li>Bulletin 6 <i>Marx on a bicycle on a board in a school</i> by Rok Ifko Krajnc on 9.11.2023</li>
        </ol>
    </div>
    <div class="grid-item">
        <ol>
            <li>Bulletin 7 <i>Self-still-life at 24</i> by Archil Tsereteli on 10.11.2023</li>
            <li>Bulletin 8 <i>Fascinating obscurity of iron curtain</i> by Karthik Palepu on 13.11.2023</li>
         </ol>
    </div>
    <div class="grid-item"></div>
</div>
 </header>